:root {
  --default-font-family: "Poppins", san-serif;
  --description-color: #272142;
  --bg-pimary: #0d6efd;
  --heading-font-family: "Playfair Display", serif;
}
h1,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  color: red;
}
img {
  border-radius: 15px;
}
.fixed-top {
  max-width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
.hero {
  padding: 80px 20px 160px 20px;
  background: #f9f7fe;
  text-align: center;
}

.hero p {
  color: var(--description-color);
  font-weight: bold;
  font-family: var(--heading-font-family);
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
  color: var(--description-color);
}
.btn-branding {
  margin: auto;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 23px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  background: var(--bg-pimary);
}
h2 {
  font-size: 64px;
}
p {
  line-height: 30px;
  font-weight: normal;
  font-size: 16px;
}
.pt-5 {
  margin-top: 30px;
}
@media (max-width: 400px) {
  .pt-5 {
    text-align: center;
  }
}
